* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color:white;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 25px;
}



.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 9px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

.logo{
  color: #417AF6;
}



.list-group-horizontal .list-group-item
{
  display: inline-block;
   
    
}
.list-group-horizontal .list-group-item
{
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
  border-right-width: 0;
  border: 0;
}
.list-group-horizontal .list-group-item:first-child
{
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child
{
	
	border-bottom-left-radius:0;
	border-right-width: 1px;
}

.trending-title{
  text-align: center;
}
.trending{
  margin-top: 20px;
}

.trending-coins{
  text-align: center;
}