* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color:white;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 25px;
}



.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 9px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

.logo{
  color: #417AF6;
}



.list-group-horizontal .list-group-item
{
  display: inline-block;
   
    
}
.list-group-horizontal .list-group-item
{
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
  border-right-width: 0;
  border: 0;
}
.list-group-horizontal .list-group-item:first-child
{
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child
{
	
	border-bottom-left-radius:0;
	border-right-width: 1px;
}

.trending-title{
  text-align: center;
}
.trending{
  margin-top: 20px;
}

.trending-coins{
  text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F8FAFD;
}

.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: .75rem;
}
.symbol-label{
  border-radius: 0.75rem;
}

.mr-6, .mx-6 {
  margin-right: 1.5rem!important;
}

.text-dark-75 {
  color: #3f4254;
  font-weight: 600!important;
  margin-bottom: .25rem!important;
  transition: 0.5s;
}

.text-muted {
  color: #b5b5c3!important;
  font-size: 12px;
}


.pb-9, .py-9 {
  padding-bottom: 2.25rem!important;
}

.font-size-h4 {
  font-size: 1.35rem!important;
}
.text-dark-75 {
  color: #3f4254;
  transition: 0.5s;
}

.text-dark-75:hover{
  color: #121314;
}
.font-weight-bolder {
  font-weight: 600!important;
}

.card-header{
  background-color: white;
}



.value-argexchange-title{
  text-align: center;
}


.value-argexchange-container{
  margin-top: 20px;
}

.footer-description{
  font-size: 12px;
}